In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruit_n_berry_series = pd.Series (["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

1. Determine the number of elements in fruits.

In [5]:
len(fruit_n_berry_series)

17

In [6]:
fruit_n_berry_series.size

17

2. Output only the index from fruits.

In [8]:
fruit_n_berry_series.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [10]:
fruit_n_berry_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits. (int, bool, etc)

In [12]:
fruit_n_berry_series.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [19]:
fruit_n_berry_series.head(5)
fruit_n_berry_series.tail(3)
fruit_n_berry_series.sample(2)

7     watermelon
14    blackberry
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [22]:
fruit_n_berry_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [23]:
fruit_n_berry_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

8. Determine how many times each unique string value occurs in fruits.

In [68]:
fruit_n_berry_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [30]:
fruit_n_berry_series.value_counts().head(1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [29]:
fruit_n_berry_series.value_counts().nsmallest(n = 1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [66]:
numbers_series.apply(even_or_odd) ## calls the function as argument

0    even
1     odd
2    even
3     odd
4     odd
dtype: object

## Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits

In [73]:
fruit_n_berry_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [76]:
fruit_n_berry_series[fruit_n_berry_series.isin('a')]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [str]